[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
colorlog = "*"
watchfiles = "*"

[packages]
django = "*"
django-colorfield = "*"
django-mathfilters = "*"
python-dateutil = "*"
uvicorn = {extras = ["standard"], version = "*"}
whitenoise = "*"
pillow = "*"
setuptools = "*"
django-bootstrap-v5 = "*"
django-cockroachdb = "==4.1.*"
dj-database-url = "*"
psycopg2 = "*"
gunicorn = "*"

[requires]
python_version = "3.9"
