[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pre-commit = "*"
coverage = "*"

[packages]
django = "*"
django-bootstrap4 = "*"
django-colorfield = "*"
daphne = "*"
django-mathfilters = "*"
django-crontab = "*"
python-dateutil = "*"
uvicorn = "*"
whitenoise = "*"
pillow = "*"
setuptools = "*"
django-bootstrap-v5 = "*"
django-cockroachdb = "==4.1.*"
watchfiles = "*"

[requires]
python_version = "3.9"
