[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
colorlog = "*"
watchfiles = "*"

[packages]
django = "*"
django-colorfield = "*"
django-mathfilters = "*"
python-dateutil = "*"
uvicorn = {extras = ["standard"], version = "*"}
whitenoise = "*"
pillow = "*"
setuptools = "*"
django-bootstrap-v5 = "*"
django-cockroachdb = "==4.1.*"
dj-database-url = "*"
psycopg2 = "*"
gunicorn = {version = "*", sys_platform = "!= 'win32'"}
sentry-sdk = "*"
certifi = "*"
rcssmin = "*"
rjsmin = "*"
django-htmlmin = "*"
django-compressor = "*"
brotli = "*"
celery = "*"
hiredis = "*"
html5lib = "*"
redis = "*"
uvloop = {version = "*", sys_platform = "!= 'win32'"}

[requires]
python_version = "3.9"
