{% extends 'sheets/common/base.html' %}

{% load finance_extras humanize %}


{% block content %}
  {% include 'sheets/macros/page_header_beginning.html' with title=title %}
    <a href="{% url 'sheets:banks-new' %}" class="btn btn-block btn-success btn-sm">
      <i class="fa fa-plus fa-fw"></i> New Bank
    </a>
  {% include 'sheets/macros/page_header_end.html' %}

  {% if object_list %}
  <div class="table-responsive ">
    <table class="table table-borderless" style="height: 400px;">
      <thead>
        <tr>
          <th class="text-uppercase" scope="col" style="width: 16.6%">Name</th>
          <th class="text-uppercase" scope="col" style="width: 16.6%">Amount Left</th>
          <th class="text-uppercase" scope="col" style="width: 16.6%">Threshold</th>
          <th class="text-uppercase" scope="col" style="width: 16.6%">Actions</th>
        </tr>
      </thead>
      <tbody>
      {% for bank in object_list %}
      <tr class="v-parent v-parent-bg">
        <td>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <span class="flex-fill text-truncate" data-toggle="tooltip" data-placement="top" title="{{ bank }}">
            {% include 'sheets/macros/category.html' with category=bank %}
          </span>
        </li>
      </td>
      <td>
        {{bank.amount_deposited|intcomma|currency}}
      </td>
      <td>
        {{bank.amount_threshold|intcomma|currency}}
      </td>
      <td>
        {% include 'sheets/macros/bank_menu.html' with bank=bank %}
      </td>
      {% endfor %}
    </tbody>
  </table>
</div>
  {% else %}
    <p class="text-warning">No banks added yet.</p>
  {% endif %}
{% endblock %}
